<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: header(~{::#headerChildren})}">
    <div id="headerChildren">
        <style>
            .cell {
                display: flex;
                align-items: center;
            }
            .field-name-cell {
                display: flex;
                align-items: center;
                font-weight: 700;
            }
        </style>
    </div>
</head>

<body class="bg-light d-flex flex-column min-vh-100">

<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="container py-5">
    <h1 class="mb-5" th:text="|Settings for user ${user.username}|"></h1>

    <div class="row mb-3">
        <div class="col-2 field-name-cell">
            <span>Email:</span>
        </div>
        <div class="col-2 cell">
            <span th:text="${user.email}"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 field-name-cell">
            <span>Password:</span>
        </div>
        <div class="col-2 cell">
        </div>
        <div class="col-2 cell">
            <button class="btn btn-success" onclick="startPasswordReset()">Reset</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 field-name-cell">
            <span>2FA status:</span>
        </div>
        <div class="col-2 cell">
            <span th:classappend="${user.isTotp} ? text-success : text-danger"
                  th:text="${user.isTotp} ? 'Confirmed' : 'Unavailable'"></span>
        </div>
        <div class="col-2 cell">
            <button class="btn btn-success" onclick="start2FASetup()">Set up</button>
        </div>
    </div>
</main>

<div id="setup2FAModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Setup 2FA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ol>
                    <li>Download an authenticator app (e.g. Google Authenticator)</li>
                    <li>Scan the QR code below</li>
                    <li>Confirm the code in the input below</li>
                </ol>
                <div class="mt-5 d-flex justify-content-center">
                    <div id="qrCodeSpinner" class="spinner-border" role="status"></div>
                    <img id="qrCode" class="d-none" src="" alt=""/>
                </div>
                <div class="mt-5">
                    <label for="totp" class="form-label">Authenticator code</label>
                    <input type="text" class="form-control w-25" id="totp" name="totp">
                    <span id="totp-error" class="error-message text-danger"></span>
                </div>
                <div class="mt-3">
                    <span class="error-message text-danger mb-2 d-block"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="confirm2FACode()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div id="resetPasswordModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <label for="oldPassword" class="col-form-label">Old password</label>
                    <div class="col-sm-10">
                        <input id="oldPassword" name="oldPassword" type="password" class="form-control" required/>
                    </div>
                    <span class="error-message oldPassword-error text-danger"></span>
                </div>
                <div class="row mb-2">
                    <label for="newPassword" class="col-form-label">New password</label>
                    <div class="col-sm-10">
                        <input id="newPassword" name="newPassword" type="password" class="form-control" required/>
                    </div>
                    <span class="error-message newPassword-error text-danger"></span>
                </div>
                <div class="row mb-2">
                    <label for="newPasswordConfirm" class="col-form-label">Confirm new password</label>
                    <div class="col-sm-10">
                        <input id="newPasswordConfirm" name="newPasswordConfirm" type="password" class="form-control" required/>
                    </div>
                    <span class="error-message newPasswordConfirm-error text-danger"></span>
                </div>
                <div class="mt-3">
                    <span class="form-error error-message text-danger mb-2 d-block"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="resetPassword()">Reset</button>
            </div>
        </div>
    </div>
</div>

<script>
    const startPasswordReset = () => {
        $("#resetPasswordModal").modal("show");
    };

    const resetPassword = () => {
        const csrfHeader = $("meta[name='_csrf_header']").attr("content");
        const csrfValue = $("meta[name='_csrf']").attr("content");

        const request = {
            oldPassword: $("#oldPassword").val(),
            newPassword: $("#newPassword").val(),
            newPasswordConfirm: $("#newPasswordConfirm").val()
        };

        fetch("/api/profile/password/reset", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                [csrfHeader]: csrfValue
            },
            body: JSON.stringify(request)
        })
        .then(response => {
            if (!response.ok) {
                return response.json()
                        .then(errorResponse => handleErrorResponse("resetPasswordModal", errorResponse));
            }

            window.location.reload();
        })
        .catch(error => {
            handleErrorMessage("resetPasswordModal", "An unexpected error occurred.");
        });
    };

    const start2FASetup = () => {
        $("#setup2FAModal").modal("show");

        const csrfHeader = $("meta[name='_csrf_header']").attr("content");
        const csrfValue = $("meta[name='_csrf']").attr("content");

        fetch("/api/profile/2fa/setup", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                [csrfHeader]: csrfValue
            }
        })
        .then(response => {
            if (!response.ok) {
                return response.json()
                        .then(errorResponse => handleErrorResponse("setup2FAModal", errorResponse));
            }

            response.json().then(showQRCode);
        })
        .catch(error => {
            handleErrorMessage("setup2FAModal", "An unexpected error occurred.");
        });
    };

    const showQRCode = (qrCodeResponse) => {
        $("#qrCodeSpinner").hide();

        $("#qrCode").attr("src", qrCodeResponse.qrCode);
        $("#qrCode").removeClass("d-none");
    };

    const confirm2FACode = () => {
        const csrfHeader = $("meta[name='_csrf_header']").attr("content");
        const csrfValue = $("meta[name='_csrf']").attr("content");

        const request = {
            totp: $("#totp").val() || null
        };

        fetch("/api/profile/2fa/confirm", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                [csrfHeader]: csrfValue
            },
            body: JSON.stringify(request)
        })
        .then(response => {
            if (!response.ok) {
                return response.json()
                        .then(errorResponse => handleErrorResponse("setup2FAModal", errorResponse));
            }

            window.location.reload();
        })
        .catch(error => {
            handleErrorMessage("setup2FAModal", "An unexpected error occurred.");
        });
    };

    const handleErrorResponse = (containerId, errorResponse) => {
        $(".error-message").text("");

        if (errorResponse.fieldErrors) {
            handleFieldErrors(containerId, errorResponse.fieldErrors);
        } else {
            handleErrorMessage(containerId, errorResponse.errorMessage);
        }
    };

    const handleFieldErrors = (containerId, fieldErrors) => {
        for (let field in fieldErrors) {
            $(`#${containerId} .${field}-error`).text(fieldErrors[field]);
        }
    };

    const handleErrorMessage = (containerId, errorMessage) => {
        $(`#{containerId} .form-error`).text(errorMessage);
    };
</script>

<footer th:replace="~{fragments/layout :: footer}"></footer>

</body>
</html>
