<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark"
     th:style="${@authService.isAdmin()} ? 'background-color:#6e0101' : 'background-color:#016e01'">>
    <div class="container">
        <a class="navbar-brand" href="/home">
            <img src="/img/PaK_it_logo.png" class="d-inline-block align-top rounded" width="160" height="80">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto flex-wrap">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="shipmentDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Shipments
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="shipmentDropdown">
                        <li><a class="dropdown-item" href="/shipment">View all shipments</a>
                        </li>
                        <li><a class="dropdown-item" href="/shipment/new">Add new
                            shipment</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="declarationDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Declarations
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="declarationDropdown">
                        <li><a class="dropdown-item" href="/declaration">View all declarations</a>
                        </li>
                        <li><a class="dropdown-item" href="/declaration/new">Add new
                            declaration</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="commodityDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Commodities
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="commodityDropdown">
                        <li><a class="dropdown-item" href="/commodity">View all commodities</a>
                        </li>
                        <li><a class="dropdown-item" href="/commodity/new">Add new commodity</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="clientDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Clients
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="clientDropdown">
                        <li><a class="dropdown-item" href="/client">View all clients</a></li>
                        <li><a class="dropdown-item" href="/client/new">Add new client</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" th:if="${@authService.isAdmin()}">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Users
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="/user">View all Users</a></li>
                        <li><a class="dropdown-item" href="/user/new">Add new User</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-2">
                    <a href="/profile/settings" class="text-reset text-decoration-none">
                        <i class="bi bi-person-circle text-white" style="font-size: 1.5rem;"></i>
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <form method="post" action="/api/auth/logout">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="btn btn-light">Log out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

</html>
