.zoom-on-hover:hover {
    transform: scale(1.05);
}

.contact-link {
    transition: color 0.3s, font-weight 0.3s, transform 0.3s;
    display: inline-block;
}

.contact-link:hover {
    color: green !important;
    font-weight: bold;
    transform: scale(1.05);
}