<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PakIt</title>
</head>
<header>
    <nav>
        <ul>
            <li><a>Package Items options:</a></li>
            <li><a href="http://localhost:8080/packageitem/1">View package item 1</a></li>
            <li><a href="http://localhost:8080/packageitem">View all package items</a></li>
            <li><a href="http://localhost:8080/packageitem/new">Add new package item</a></li>
            <li><a></a></li>
            <li><a>Commodity options:</a></li>
            <li><a href="http://localhost:8080/commodity/1">View commodity 1</a></li>
            <li><a href="http://localhost:8080/commodity">View all commodities</a></li>
            <li><a href="http://localhost:8080/commodity/new">Add new commodity</a></li>
            <li><a></a></li>
            <li><a>Client options:</a></li>
            <li><a href="http://localhost:8080/client/1">View client 1</a></li>
            <li><a href="http://localhost:8080/client">View all clients</a></li>
            <li><a href="http://localhost:8080/client/new">Add new client</a></li>
            <li><a></a></li>
            <li><a>Declaration Items option:</a></li>
            <li><a href="http://localhost:8080/declaration/1">View declaration 1</a></li>
            <li><a href="http://localhost:8080/declaration">View all declarations</a></li>
            <li><a href="http://localhost:8080/declaration/new">Add new declaration</a></li>
            <li><a></a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="http://localhost:8080/">Log out</a></li>
        </ul>
    </nav>
</header>
<body>
</body>
</html>