<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: header(~{})">
</head>

<body class="bg-light">

<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-4">Admin Panel</h3>
            <div class="list-group">
                <a href="http://localhost:8080/declaration" class="list-group-item list-group-item-action">View All
                    Declarations</a>
                <a href="http://localhost:8080/declaration/new" class="list-group-item list-group-item-action">Add New
                    Declaration</a>
                <a href="http://localhost:8080/commodity" class="list-group-item list-group-item-action">View All
                    Commodities</a>
                <a href="http://localhost:8080/commodity/new" class="list-group-item list-group-item-action">Add New
                    Commodity</a>
                <a href="http://localhost:8080/client" class="list-group-item list-group-item-action">View All
                    Clients</a>
                <a href="http://localhost:8080/client/new" class="list-group-item list-group-item-action">Add New
                    Client</a>
                <a href="http://localhost:8080/user" class="list-group-item list-group-item-action">View All
                    Users</a>
                <a href="http://localhost:8080/user/new" class="list-group-item list-group-item-action">Add New
                    User</a>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/layout :: footer}"></footer>

</body>
</html>
