<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: headerFragment}">
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-sm navbar-dark " style="background-color: #006400">
    <div class="container">
        <a class="navbar-brand" href="http://localhost:8080/backoffice">
            <img src="/img/PaK_it_logo.png" class="d-inline-block align-top rounded" width="160" height="80">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Declaration Options
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="http://localhost:8080/declaration">View all declarations</a>
                        </li>
                        <li><a class="dropdown-item" href="http://localhost:8080/declaration/new">Add new
                            declaration</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Commodity Options
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li><a class="dropdown-item" href="http://localhost:8080/commodity">View all commodities</a>
                        </li>
                        <li><a class="dropdown-item" href="http://localhost:8080/commodity/new">Add new commodity</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Client Options
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <li><a class="dropdown-item" href="http://localhost:8080/backoffice/client">View all clients</a></li>
                        <li><a class="dropdown-item" href="http://localhost:8080/backoffice/client/new">Add new client</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <form method="post" action="/auth/logout">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="btn btn-light">Log out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="container py-5">
    <h1 class="mb-4">Insert New Client</h1>
    <form id="createClientForm" action="/client">
        <div class="container">
            <div class="row mb-3">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <span id="email-error" class="text-danger"></span>
                <div class="col-sm-10">
                    <input  id="email" type="text" name="email" th:value="${email}" class="form-control" required/>
                </div>
            </div>
            <div class="row mb-3">
                <label for="phoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
                <span id="phoneNumber-error" class="text-danger"></span>
                <div class="col-sm-10">
                    <input  id="phoneNumber" type="text" name="phoneNumber" th:value="${phoneNumber}" class="form-control" required/>
                </div>
            </div>
            <div class="row mb-3">
                <label for="fullName" class="col-sm-2 col-form-label">Full Name</label>
                <span id="fullName-error" class="text-danger"></span>
                <div class="col-sm-10">
                    <input  id="fullName" type="text" name="fullName" th:value="${fullName}" class="form-control" required/>
                </div>
            </div>

            <span id="errorMessage" class="text-danger"></span>

            <div class="row mb-3 text-center">
                <div class="col">
                    <button type="button" onClick="createClient()" class="btn btn-primary">Save Client</button>
                </div>
            </div>
        </div>
    </form>

    <form th:action="@{/backoffice}" method="get" class="mt-4">
        <div class="text-center">
            <button type="submit" class="btn btn-secondary">Back</button>
        </div>
    </form>

</main>

<footer class="text-white text-center py-4 mt-5" style="background-color: #006400">
    <p>&copy; 2025 SIA Pak It. All rights reserved.</p>
</footer>

<script>
    const createClient = () => {
        const url = $("#createClientForm").attr('action');
        const csrfHeader = $("meta[name='_csrf_header']").attr("content");
        const csrfValue = $("meta[name='_csrf']").attr("content");

        const request = {
            email: $("#email").val(),
            phoneNumber: $("#phoneNumber").val(),
            fullName: $("#fullName").val()
        };

        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                [csrfHeader]: csrfValue
            },
            body: JSON.stringify(request),
        })
        .then(response => {
            if (!response.ok) {
                response.json().then(handleErrorResponse);
            } else {
                window.location.href = '/backoffice/client';
            }
        })
        .catch(error => {
            console.log(error);
        });
    };

    const handleErrorResponse = (errorResponse) => {
        if (errorResponse.fieldErrors) {
            handleFieldErrors(errorResponse.fieldErrors);
        } else {
            handleErrorMessage(errorResponse.errorMessage);
        }
    };

    const handleFieldErrors = (fieldErrors) => {
        for (let field in fieldErrors) {
            $(`#${field}-error`).text(fieldErrors[field]);
        }
    };

    const handleErrorMessage = (errorMessage) => {
        $("#errorMessage").text(errorMessage);
    };
</script>
</body>
</html>