<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: header(~{})}">
</head>

<body class="bg-light">

<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="container py-5">
    <h1 class="mb-4">Client List</h1>
    <div class="table-responsive rounded">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-danger">
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}">
                <td th:text="${client.fullName}">Full Name</td>
                <td th:text="${client.email}">Email</td>
                <td th:text="${client.phoneNumber}">Phone Number</td>
                <td class="text-center">
                    <form th:action="|/client/${client.clientId}/edit|" method="get" class="d-inline">
                        <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                    </form>
                </td>
                <td class="text-center">
                    <form th:action="|/client/${client.clientId}/delete|" method="get" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <form th:action="@{/backoffice}" method="get" class="mt-4">
        <button type="submit" class="btn btn-secondary">Back</button>
    </form>
</main>

<footer class="text-white text-center py-4 mt-5" style="background-color: #6e0101">
    <p>&copy; 2025 SIA Pak It. All rights reserved.</p>
</footer>

</body>
</html>
