<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Details</title>
</head>
<body>
<h1>Client Details</h1>
<div>
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Full Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${client.clientId}">ID</td>
            <td th:text="${client.username}">Username</td>
            <td th:text="${client.password}">Password</td>
            <td th:text="${client.email}">Email</td>
            <td th:text="${client.PhoneNumber}">PhoneNumber</td>
            <td th:text="${client.fullName}">Full Name</td>

        </tr>
        </tbody>
    </table>
</div>
<form th:action="@{/}" method="get">
    <button type="submit">Back</button>
</form>
</body>
</html>
