<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: header(~{})">
</head>

<body class="bg-light">

<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="container py-5">
    <h1 class="mb-4">Edit Commodity</h1>
    <form id="editCommodityForm" th:action="|/api/commodity/${commodity.commodityId}|">
        <div class="container">
            <div class="row mb-3">
                <label for="commodityCode" class="col-sm-2 col-form-label">Code</label>
                <span id="commodityCode-error" class="text-danger"></span>
                <div class="col-sm-10">
                    <input id="commodityCode" th:value="${commodity.commodityCode}" type="text" class="form-control" required />
                </div>
            </div>

            <div class="row mb-3">
                <label for="description" class="col-sm-2 col-form-label">Description</label>
                <span id="description-error" class="text-danger"></span>
                <div class="col-sm-10">
                    <input id="description" th:value="${commodity.description}" type="text" class="form-control" required/>
                </div>
            </div>

            <span id="errorMessage" class="text-danger"></span>

            <div class="row mb-3 text-center">
                <div class="col">
                    <button type="button" onClick="editCommodity()" class="btn btn-success">Update Commodity</button>
                </div>
            </div>
        </div>
    </form>

    <form action="/commodity" method="get" class="mt-4">
        <div class="text-center">
            <button type="submit" class="btn btn-secondary">Back</button>
        </div>
    </form>
</main>

<footer class="text-white text-center py-4 mt-5" style="background-color: #6e0101">
    <p>&copy; 2025 SIA Pak It. All rights reserved.</p>
</footer>

<script>
    const editCommodity = () => {
        const url = $("#editCommodityForm").attr('action');
        const csrfHeader = $("meta[name='_csrf_header']").attr("content");
        const csrfValue = $("meta[name='_csrf']").attr("content");
        const request = {
            commodityCode: $("#commodityCode").val(),
            description: $("#description").val()
        };

        fetch(url, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
                [csrfHeader]: csrfValue
            },
            body: JSON.stringify(request),
        })
        .then(response => {
            if (!response.ok) {
                response.json().then(handleErrorResponse);
            } else {
                window.location.href = '/commodity';
            }
        })
        .catch(error => {
            console.log(error);
        });
    };

    const handleErrorResponse = (errorResponse) => {
        if (errorResponse.fieldErrors) {
            handleFieldErrors(errorResponse.fieldErrors);
        } else {
            handleErrorMessage(errorResponse.errorMessage);
        }
    };

    const handleFieldErrors = (fieldErrors) => {
        console.log(fieldErrors);
        for (let field in fieldErrors) {
            $(`#${field}-error`).text(fieldErrors[field]);
        }
    };

    const handleErrorMessage = (errorMessage) => {
        $("#errorMessage").text(errorMessage);
    };
</script>

</body>
</html>