<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert New Declaration</title>
</head>
<body>
<h1>Insert New Declaration</h1>

<form th:action="@{/declaration}" th:object="${declaration}" method="post">
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</form>
<form th:action="@{/}" method="get">
    <button type="submit">Back</button>
</form>
</body>
</html>