<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PakIt</title>
</head>
<header>
    <nav>
        <ul>
            <li><a>Package Items option:</a></li>
            <li><a href="http://localhost:8080/packageitem/1">View package item 1</a></li>
            <li><a href="http://localhost:8080/packageitem">View all package items</a></li>
            <li><a href="http://localhost:8080/packageitem/new">Add new package item</a></li>
            <li><a></a></li>
            <li><a>Commodity option:</a></li>
            <li><a href="http://localhost:8080/commodity/1">View commodity 1</a></li>
            <li><a href="http://localhost:8080/commodity">View all commodity</a></li>
            <li><a href="http://localhost:8080/commodity/new">Add new commodity</a></li>
            <li><a></a></li>
            <li><a>Decleration Items option:</a></li>
            <li><a href="http://localhost:8080/decleration/1">View decleration 1</a></li>
            <li><a href="http://localhost:8080/decleration">View all decleration</a></li>
            <li><a href="http://localhost:8080/decleration/new">Add new decleration</a></li>
            <li><a></a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
</header>
<body>
</body>
</html>