<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Package Item</title>
</head>
<body>
<h1>Edit Package Item</h1>
<form th:action="|/packageitem/${packageItem.packageItemId}/edit|" th:object="${packageItem}" method="post">
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <td>ID</td>
            <td><input type="text" th:field="*{packageItemId}" readonly/></td>
        </tr>
        <tr>
            <td>Commodity ID</td>
            <td><input type="number" th:field="*{commodity.commodityId}" readonly/></td>
        </tr>
        <tr>
            <td>Commodity Code</td>
            <td><input type="text" th:field="*{commodity.commodityCode}"/></td>
        </tr>
        <tr>
            <td>Commodity Description</td>
            <td><input type="text" th:field="*{commodity.description}"/></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input type="number" th:field="*{quantity}"/></td>
        </tr>
        <!--        <tr>-->
        <!--            <td>Declaration ID</td>-->
        <!--            <td><input type="number" th:field="*{declarationId}" /></td>-->
        <!--        </tr>-->
        <tr>
            <td>Quantity</td>
            <td><input type="number" th:field="*{quantity}"/></td>
        </tr>
        <tr>
            <td>Net Weight</td>
            <td><input type="number" step="0.01" th:field="*{netWeight}"/></td>
        </tr>
        <tr>
            <td>Value</td>
            <td><input type="number" step="0.01" th:field="*{value}"/></td>
        </tr>
        <tr>
            <td>Used</td>
            <td>
                <select th:field="*{used}">
                    <option th:value="true" th:text="'Yes'">Yes</option>
                    <option th:value="false" th:text="'No'">No</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <button type="submit">Update Package Item</button>
            </td>
        </tr>
    </table>
</form>
<form th:action="@{/}" method="get">
    <button type="submit">Back</button>
</form>
</body>
</html>
