<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
</head>
<body>
<h1>Product Details</h1>
<div>
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Type</th>
            <th>Fragility</th>
        </tr>
        </thead>
        <tbody>
            <td th:text="${product.title}">Title</td>
            <td th:text="${product.quantity}">Quantity</td>
            <td th:text="${product.description}">Description</td>
            <td th:text="${product.type}">Type</td>
            <td th:text="${product.fragility}">Fragility</td>
        </tbody>
    </table>
</div>
</body>
</html>